.img-avatar-header{
  height: 30px;
  width: 30px;
  display: inline-flex;
}
.icons-header{
  font-size: 18px;
  vertical-align: text-bottom;
  margin-right: 7px;
}
.nav-link{
  color: #fff;
  font-size: 14px;
}
.brand-logo{
  width: 150px;
  margin-left: -16px;
  padding-left: px;
  line-height: 46px;
  margin-right: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.brand-logo>img{
  height: 35px;
  margin-top: -6px;
  margin-right: 5px;
  animation: logo_animation 15s linear;
  -webkit-animation-iteration-count: infinite;
  padding: 0 0 0 50px;
  margin-left: -1.9rem;
}
.visible{
    display: block;
  }
@media screen and (max-width: 592px) {
  .visible{
    display: none;
  }
  .brand-logo{
  width: 130px;
  margin-left: -16px;
  padding-left: 0px;
  line-height: 46px;
  margin-right: 0;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  }
  .brand-logo>img{
    height: 35px;
    margin-top: -6px;
    margin-right: 5px;
    animation: logo_animation 15s linear;
    -webkit-animation-iteration-count: infinite;
    padding: 0 0 0 10px;
    margin-left: -1.9rem;
  }
}
.menu-header{
  padding: 8px;
  margin-left: 4px;
}
.menu-header>button{
  padding: 0;
  border: none;
  background: none;
  color: #fff;
  outline:none;
  cursor: pointer;
}
.buttonheader{
  float: left;
  margin-top: 0.8rem;
  border-radius: 4px;
  height: 2.2rem;
  text-decoration: none;
  border: none;
  background-color: #f4f3f3;
  font-size: 14px;
  cursor: pointer;
}
.text-button-header{
  float: left;
  color: white;
  margin-top: 1.2rem;
  margin-right: 11px;
}
@media screen and (max-width: 768px) and (min-width: 240px) {
  .brand-logo{
      background-color: initial;
  }
  .btn-sm{
      background: 0;
      color: white;
  }
  .sub-menu-header{
    position: relative;
    display: inline-block;
    margin: 0 !important;
  }
  .navbar-head {
    right: 0;
    left: 0;
    display: none;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
  .navbar-nav .dropdown-menu {
      position: absolute;
      float: none;
  }
  .navbar.navbar-expand-md{
     width: initial;
  }
  .brand-logo>img{
    margin-left: auto;
  }
}
