.search-box {
    padding: 8px;
  }

  .search-box input {
    width: 188px;
    margin-bottom: 8px;
    display: block;
  }

  .search-box button {
    width: 90px;
  }

  .search-button {
    margin-right: 8px;
  }
  .title-logo{
    line-height: 10pt;
    padding-top: 30px;
  }
  .form-spaccing{
    width: 100%;
    padding: 5px;
}
::ng-deep .vertical-center-modal {
  display: flex;
  align-items: center;
  margin-left:5% ;
  width: 90%;
  justify-content: center;
}

::ng-deep .vertical-center-modal .ant-modal {
  top: 0;
}

::ng-deep .vertical-center-modal .ant-modal-content{
  width: 100%;
}
::ng-deep .content-modal{
  width: 100%;
}