<div class="row no-gutters login-page">
  <div class="col-xs-12 col-md-6 col-lg-8 text-white d-flex align-items-center align-content-stretch bg-purple-rp">
    <div class="carousel">
      <div class="items">
        <img class="item" src="assets/images/images.jpg" alt=""/>
        <img class="item" src="assets/images/funeral.jpg" alt=""/>
      </div>
    </div>
    <div class="v1-left-menu my-2">
      <div class="px-4 bd-left-4">
        <h1>Bienvenido</h1>
        <div>Intranet</div>
        <div class="text-opc_6">ESCUELA DE INTELIGENCIA DEL EJERCITO</div>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-md-6 col-lg-4 bg-white d-flex align-items-center">

    <div class="col-12 p-4 my-4 text-center">
      <div class="col-12 p-4 my-4">
        <img src="assets/img/logo.png" width="200" height="200">
      </div>
      <h5 class="mb-4 text-center">Inicia Sesión</h5>
      <app-form-login></app-form-login>
      <!-- <app-form-login></app-form-login> -->
    </div>
    <div class="absolute-bottom p-3 bg-opc font-14 text-muted text-center">@Copyright 2018 - Unac</div>
  </div>
</div>
